<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-clientes">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>

      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
      <h1>Gestor de clientes</h1>
     <br/>
      <button on-click="obtenerClientes" class="btn btn-success" type="button" name="button">Obtener Clientes</button>

      <button on-click="insertarClientes" class="btn btn-warning" type="button" name="button">Insetar Clientes</button>
    </div>
    </div>
    <div class="row">
    <table class="table table-striped">
      <tbody>
        <template is="dom-repeat" items={{clientes}}>
          <tr>
            <td>
              [[item.CustomerID]]
            </td>
            <td>
              [[item.ContactName]]
            </td>
            <td>
              [[item.CompanyName]]
            </td>
          </tr>
        </template>
      </tbody>
    </table>

    </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true
            //value: 'demopolymer-app'
          }
        };
      }
      obtenerClientes(){
    var request = new XMLHttpRequest();
    request.open("GET", "https://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);
    request.setRequestHeader("Accept", "application/json");
    request.send();

    this.clientes = JSON.parse(request.responseText).value;
    //console.log(this.clientes);
    console.table(this.clientes);
      }
      insertarClientes(){
          var request = new XMLHttpRequest();
          request.open("POST", "https://services.odata.org/V4/Northwind/Northwind.svc/Customers", false)
          request.setRequestHeader("Accept", "application/json");
          request.setRequestHeader("Content-Type", "application/json");

          var nuevoCliente = {"CustomerId" : "12345", "ContactName" : "Pepe", "CompanyName" : "BBVA"};
          var body = JSON.stringify(nuevoCliente);

          request.send(body);

          this.respuesta = request.responseText;
          console.log(this.respuesta);
      }
    }

    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
